@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Rubik+Microbe&display=swap');
html,body{
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom:0;
    overflow-x: hidden;
    font-family: 'Montserrat',sans-serif;
    background-color: rgb(236,234,234);
}
/*header starts*/
.upper-header{
    background-color: black;
    width:100vw;
    padding-bottom: 2rem;
}
.logo{
    display: inline-block;
    margin-top:1rem;
    margin-left:2.5rem;
}
.logo img{
    width:5vw;
}
.location{
    color:white;
    display: inline-block;
    margin-left: 2.5rem;
}
.location-name{
    font-size: 0.75rem;
}
.update-location{
    font-size: 0.9rem;
    font-weight: bold;
}
.search-bar{
    display: inline-block;
    margin-left: 5rem;
}
.select-type{
    background-color: grey;
    height: 2rem;
}
.input-search{
    height:1.5rem;
    width:30vw;
    margin-left: 2rem;
}
.search-icon{
    background-color: yellow;
    padding:0.45rem 1rem;
    border-radius:5px;
    margin-left: 1rem;
}
.language{
    display: inline-block;
    margin-left: 7rem;
}
.language-list{
    background-color: black;
    color:white;
    height:2rem;
    border:none;
}
.account{
    display: inline-block;
    margin-left: 10rem;
    color:white;
}
.cart{
    display: inline-block;
    margin-left: 2.5rem;
    color:white;
}
.lower-header{
    background-color: rgb(54,54,54);
    color:white;
    padding:1.2rem 0rem;
}
.lower-header-text{
    margin-left: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
}
/*header ends*/
/*banner starts*/
.auto-carousel{
    position: relative;
    animation-name:slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    width:100%;
    display: flex;
    height: 40vh;
    transition: all 1s ease;
    margin-top: -0.5rem;
}
@keyframes slide{
    0%{
        left:0%;
    }
    5%{
        left:-100%;
    }
    20%{
        left:-100%;
    }
    25%{
        left:-200%;
    }
    40%{
        left:-200%;
    }
    45%{
        left:-300%;
    }
    60%{
        left:-300%;
    }
    65%{
        left:-400%;
    }
    80%{
        left:-400%;
    }
    85%{
        left:-500%;
    }
    100%{
        left:-500%;
    }
}
.slide{
    height:40vh;
}
.slide img{
    height: 40vh;
    width:100vw;
}
ol{
    list-style: none;
}
/*banner ends*/
/*Multi img starts*/
.multi-img-sec{
    display:flex;
}
.multi-sec{
    width:24vw;
    background-color: white;
    margin:0.5rem;
}
.multi-head{
    font-size: 1.5rem;
    margin-left: 1.5rem;
}
.single-multi{
    width:9vw;
    display: inline-block;
    margin: 1.15rem;
}
.single-multi img{
width:9vw;
}
/*multi-sec end*/
/*carousel starts*/
.carousel{
    width:100%;
    background-color: white;
    padding:2rem 0rem;
}
.carousel-head{
    font-size: 1.5rem;
    margin-left: 1.5rem;
}
.left-btn{
    height:20vh;
    width:50px;
    text-align: center;
    cursor:pointer;
    position: absolute;
    
}
.right-btn{
    height:20vh;
    width:50px;
    text-align: center;
    cursor:pointer;
    position: absolute;
    right:10px;
}
.right-btn i, .left-btn i{
    color:rgb(54,54,54);
    position: absolute;
    font-size: 30px;
    top:35%;
    left:12%;
    right:12%;
}
.slide-carousel{
    display: flex;
    width:100%;
    height:100%;
    list-style: none;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.slide-img{
    height:20vh;
    margin-right: 2rem;
}
/*carousel ends*/
/*single img sec starts*/
.single-img-sec{
    width:100vw;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
.single-img-box{
    display: inline-block;
    width:20vw;
    margin-left:1rem;
    background-color: white;
    padding:1rem;
}
.single-img-head{
    font-size: 1.5rem;
}
.single-img{
    width:15vw;
    margin-left: auto;
    margin-right: auto;
}
.see-more{
    margin-left:-10rem;
    color:blue;
    text-decoration: none;
}
/*footer starts*/
.footer{
    width:100vw;
    background-color: rgb(54,54,54);
    color:white;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    padding-top: 2rem;
}
.info-footer{
    width:15vw;
    margin-left: 5rem;
    text-align: left;
}
.footer-head{
    font-size: 1.2rem;
}
.list-footer{
    list-style: none;
    margin-left: -2.5rem;
}
.list-footer li{
    font-size: 0.8rem;
    margin-top: 0.5rem;
}